<script type="text/javascript">
	function tagonAllowDrop(ev) {
		ev.preventDefault();
		ev.dataTransfer.dropEffect = 'copy';  // See the section on the DataTransfer object.
		return false;
	}

	function tagonDragStart(ev) {
		var dataObj = {
			srcImg: '',
			productLink: ''
		};
		if(ev.target.nodeName === 'IMG') {
			dataObj.srcImg = ev.target.src;
			if(ev.target.parentNode != null && ev.target.parentNode.nodeName === 'A') {
				dataObj.productLink = ev.target.parentNode.href;
			}
			else {
				dataObj.productLink = window.location.href;
			}
			ev.dataTransfer.setData("text", JSON.stringify(dataObj));
			document.getElementById("tagon-user-collection-bar").style.display = "initial";
		}
		else {
			alert("CAN ONLY DRAG IMAGE!!!");
		}
	}

	function tagonDragEnd(ev) {
		document.getElementById("tagon-user-collection-bar").style.display = "none";
	}

	function tagonDrop(ev) {
		ev.preventDefault();
		var data = ev.dataTransfer.getData('text');
		
		if(data) {
			var receiverWin = window.parent;
			function sendMessage(e) {
				// // Prevent any default browser behaviour.
				// e.preventDefault();
				// // Send a message with the text of the source to the new window.
				receiverWin.postMessage(data, 'http://localhost:8001');
			}
			sendMessage();
		}
		
		document.getElementById("tagon-user-collection-bar").style.display = "none";
	}
</script>
<div id="tagon-user-collection-bar" style="display: none; height: 100px; background-color: #d7d7d7; box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.2); border: solid 1px #eaeaea;
              position: fixed; bottom: 0; left: 0; width: 100%; opacity: 0.8; text-align: center; vertical-align: middle; line-height: 100px; z-index: 10001"
	ondrop="tagonDrop(event)" ondragover="tagonAllowDrop(event)">
    <span style="font-weight: bold; font-family: FuturaBk; font-size: 14px; letter-spacing: 4.7px; color: #d81b60; opacity: 1">DROP HERE</span>
</div>